<?xml version="1.0" encoding="UTF-8"?>
<MxvGlXmlSubDirFile CreateData="2010-01-11" Creator="系统自动生成" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<DefaultSubDir/>
	<SubDirName>BJL8_POW</SubDirName>
	<SubDirName>BJL8_BAS</SubDirName>
	<SubDirName>BJL8_AFC</SubDirName>
	<SubDirName>BJL8_CCTV</SubDirName>
	<SubDirName>BJL8_PIS</SubDirName>
	<SubDirName>BJL8_ATS</SubDirName><SubDirName>BJL8_PA</SubDirName>
	<SubDirName>BJL8_FAS</SubDirName>
	<SubDirName>BJL8_PSD</SubDirName>
	<SubDirName>BJL8_ACS</SubDirName>
	<SubDirName>BJL8_UPS</SubDirName>
	<SubDirName>BJL8_NMS</SubDirName>
	<SubDirName>排水系统</SubDirName>
	<SubDirName>通风系统</SubDirName>
	<SubDirName>BJL8_BAS2</SubDirName><SubDirName>综采系统</SubDirName><SubDirName>主运输系统</SubDirName><SubDirName>其他</SubDirName><SubDirName>供水系统</SubDirName><SubDirName>洗煤厂系统</SubDirName><SubDirName>装车站系统</SubDirName><SubDirName>辅助运输系统</SubDirName><SubDirName>掘进面检测系统</SubDirName><SubDirName>压风系统</SubDirName><SubDirName>水文监测系统</SubDirName><SubDirName>污水处理厂</SubDirName><SubDirName>总貌</SubDirName><SubDirName>皮带系统</SubDirName><SubDirName>供电系统</SubDirName><SubDirName>监测监控</SubDirName><SubDirName>电力系统</SubDirName></MxvGlXmlSubDirFile>
